 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-linux-plain-wordmark>"</i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-python-original colored"></i>
      <p>I love to explore and visualize data! </p>
    </div>
    <div class="tech">
      <h2>Ideate</h2>
      <p>I love to ideate and create ideas towards new political, economic, and social models! </p>
    </div>
    <div class="tech">
      <h2>Organize</h2>
      <p>I love to organize events - bicycle tours, bridge nights, and benefit concerts! </p>
    </div>
</div>
