 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-linux-plain"></i>
      <i class="devicon-github-plain-wordmark"></i>
      <i class="devicon-python-plain-wordmark"></i>
      <p>I love to explore and summarize data for decision makers </p>
    </div>
    <div class="tech">
      <h2>Ideate</h2>
      <i class="icon fa fa-balance-scale"></i>
      <i class="icon fa fa-globe"></i>
      <i class="icon fa fa-lightbulb-o"></i>
      <p>I love to ideate and create new models in politics, business, and society </p>
    </div>
    <div class="tech">
      <h2>Organize</h2>
      <i class="icon fa fa-bicycle"></i>
      <i class="icon fa fa-heart"></i>
      <i class="icon fa fa-music"></i>
      <p>I love to organize events - bicycle tours, bridge nights, and benefit concerts </p>
    </div>
</div>

i class="icon fa fa-twitter" aria-hidden="true">
