<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Email" href="mailto:matthew.moroney@yale.edu"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="Linkedin" href="https://www.linkedin.com/in/msmoroney/"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="Twitter" href="https://twitter.com/nourishideas"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="Github"  href="https://github.com/greenisagoodcolor"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Projects</a>
        <a class="link" href="#resume" data-scroll>Resume</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
