<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="UN" src="{{ "/assets/img/un_d4ca.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Air pollution's impacts on consumer spending </h3>
    <ul>
    </ul>
    <p> United Nations Data for Climate Action Award winner exploring how consumer credit spending changes with air pollution as part of my work with the Data-Driven Yale research group. </p>
    <a class="project-link" href="http://datadriven.yale.edu">Link</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="hackathon" src="{{ "/assets/img/hackathon_plot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Manipulating data in R with dplyr and ggplot </h3>
    <p>A basic introduction to manipulating data with dplyr and plotting data with ggplot2 presented at a Yale-NUS Hackathon in Singapore.</p>
    <a class="project-link" href="https://rpubs.com/Greenisagoodcolor/YaleNUShackathon">View</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="solar" src="{{ "/assets/img/solar_plot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Solar PV Installation Price Dispersion in the U.S. </h3>
    <p>An analysis of solar panel installation costs in the Open PV dataset (n=806,000) maintained by the U.S. National Renewable Energy Labratory.</p>
    <a class="project-link" href="https://emp.lbl.gov/sites/default/files/2._es_solarpvpricedispersion_final_6.30.17.pdf">Download</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="data center" src="{{ "/assets/img/data_center.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Casinos, Computers, and 1 hour Nitrogen Dioxide (NO2) emissions: A Monte Carlo Case Study in R </h3>
    <p> A case study of using PERL and R scripts from the Washington State Department of Ecology to permit a data center's emergency diesel backup generators. Presented at a Air and Waste Management, Pacific Northwest International Section Conference. </p>
    <a class="project-link" href="https://www.slideshare.net/slideshow/embed_code/key/IUdt4b9XVZZ7UL">View</a>
  </div>
</div>

