<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="UN" src="{{ "/assets/img/un_d4ca.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Air pollution's impacts on consumer spending </h3>
    <ul>
    </ul>
    <p> United Nations Data for Climate Action Award winner exploring how consumer credit spending changes with air pollution as part of my work with the Data-Driven Yale research group. This gives policy makers an increased awareness of the lost sales tax revenue and how air pollution could inhibit a vibrant local economy. We are beginning to replicate this study in Mexico City, Shanghai, and Beijing.</p>
    <a class="project-link" href="http://datadriven.yale.edu">Link</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="hackathon" src="{{ "/assets/img/hackathon_plot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Manipulating data in R</h3>
    <p>R is an incredibly power and frustrating tool to use for beginning data scientists. I put together this basic introduction to manipulating data and plotting after I was invited to a Yale-NUS Hackathon in Singapore. The hackathon pitted computer science and environmental studies students in a series of challenges to hone their data skills. The students enjoyed the ability to transform and aggregate data with dplyr, the ability to plot small multiples in ggplot2, and the ability to display heatmaps on ggmap. </p>
    <a class="project-link" href="https://rpubs.com/Greenisagoodcolor/YaleNUShackathon">View</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="solar" src="{{ "/assets/img/solar_plot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Solar PV Installation Price Dispersion in the U.S. </h3>
    <p>An analysis of solar panel installation costs in the Open PV dataset (n=806,000) maintained by the U.S. National Renewable Energy Labratory. We were interested in cost variables - third party ownership (e.g. Solar City), the balance of systems cost (everything but the panels) and the installation labor costs. We found strong variables affecting local and state levels. Different policies on local and state levels preventing a single variable from explaining costs across the data.</p>
    <a class="project-link" href="https://emp.lbl.gov/sites/default/files/2._es_solarpvpricedispersion_final_6.30.17.pdf">Download</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="data center" src="{{ "/assets/img/data_center.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Casinos, Computers, and 1 hour Nitrogen Dioxide (NO2) emissions: A Monte Carlo Case Study in R </h3>
    <p> This presentation summarized a portion of my work at Landau Associates doing air emissions modeling and contributing to new air permit applications. The slides show a case study of using PERL and R scripts from the Washington State Department of Ecology to permit a data center's emergency diesel backup generators. It was presented at a Air and Waste Management, Pacific Northwest International Section Conference. </p>
    <a class="project-link" href="https://www.slideshare.net/slideshow/embed_code/key/IUdt4b9XVZZ7UL">View</a>
  </div>
</div>

