<div class = "user-projects">
<b>
<h1> Resume </h1>
</b>
</center>
	<table>
		<col>
		<col>
		<tbody>
			<tr>
				<td>
					<h2> Education</h2>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>
					<p>	<b>Yale University</b>, School of Forestry &amp; Environmental Studies, New Haven, CT</p>
					<p>Masters of Environmental Management <p>
				</td>
				<td>
					<p>
					5/18</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>	<b>University of Washington,</b> Seattle, WA </p>
					<p>Certificate in Statistical Analysis with R Programming</p>
				</td>
				<td>
					<p>09/14 – 06/15</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>
					<b>Western Washington University </b>, Bellingham, WA
					</p>
					<p>
					<font>Bachelors of Science, Environmental Science with Chemistry minor</p>
				</td>
				<td>
					<p> 09/07 – 06/11</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>
					<h2>
					Experience
					</h2>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr >
				<td>
					<p>
					<b>Metabolic</b> – Green Chemistry Intern, Amsterdam, Netherlands</p>
					<ul>
						<li/>
                            <p>
                                Designed theoretical framework and coded statistical scoring for software that predicts environmental impact and toxicity of chemical mixtures; project evolved into its own company
                            </p>
						<li/>
                            <p>
						Developed process flow diagram that evaluated lifecycle impacts of diverting steel gas exhaust for chemical production in report funded by a steel company, chemical manufacturer, and power generator
                            </p>
					</ul>
				</td>
				<td>
					<p>05/17 – 08/17 
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<p>
					<b>Data-Driven Yale</b> – Student Researcher for Dr. Hsu, New Haven, CT 
					</p>
					<ul>
						<li/>
                            <p>
                                Led	winning team in international UN Competition researching air pollution’s effect on credit card spending
                            </p>
						<li/>
                            <p>
                        Programmed methods to compare pollution and equity in an index comparing 20	global cities
                            </p>
					</ul>
				</td>
				<td>
					<p>
					   07/16 – Present 
					</p>
				</td>
			</tr>
			<tr >
				<td>
					<p>
					<b>Landau Associates, Inc. </b>– Senior Staff Environmental Scientist, Seattle, WA</p>
					<ul>
						<li/>
                            <p>
                                Supervised teams of up to 8 coworkers and subcontractors investigating subsurface contamination investigations
                            </p>
						<li/>
                            <p> 
                                Coordinated	and managed client relationships onsite in restricted industrial settings
                            </p>
						<li/>
                            <p>
                                Trained new employees in sampling of air, groundwater, sediment, and soil using standardized methods with strict chain of custody protocols under demanding environmental conditions
                            </p>
					</ul>
				</td>
				<td>
					<p>04/12 – 01/16</p>
				</td>
			</tr>
			<tr >
				<td>
					<p>
					<b>Woods Hole Research Center </b> – Student Researcher, Cherskiy, Siberia</p>
					<ul>
						<li/>
                            <p>
                                Awarded	fellowship studying climate change and permafrost thaw in the Siberian tundra
                            </p>
					</ul>
				</td>
				<td>
					<p>05/11 – 06/11</p>
				</td>
			</tr>
			<tr >
				<td>
					<p>
					<b>The Planet Magazine </b>– Science Editor, Bellingham, WA</p>
					<ul>
						<li/>
                            <p>
                                Edited over 60 stories for scientific accuracy and general audience readability in award-winning publication</p>
					</ul>
				</td>
				<td>
					<p>09/10 – 06/11</p>
				</td>
			</tr>
			<tr >
				<td>
					<p>
					<b>WWU Chemistry Department </b>– </b>Student Researcher for Dr. O’Neil, Bellingham, WA</p>
					<ul>
						<li/>
                            <p>
                                Synthesized molecules with hazardous and explosive materials 
						</p>
					</ul>
				</td>
				<td>
					<p>03/09 – 06/10</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>
					<h2>Leadership</h2>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr >
				<td>
					<p> <b> WWU	Huxley College Dean’s Advisory Board – </b> Advisor, Seattle, WA</p>
					<ul>
						<li/>
                            <p>
                                Selected for lifelong appointment to advisory board to contribute to Huxley’s College’s strategic vision 
						</p>
					</ul>
				</td>
				<td>
					<p>06/13 – Present</p>
				</td>
			</tr>
			<tr>
				<td >
					<p><b>Air &amp; Waste Mgt Assoc, PNW Int’l Section (A&amp;WMA PNWIS)</b> – Board Committee Member, Seattle, WA</p>
					<ul>
						<li/>
                            <p>
                                Chaired fossil fuel exports in the Pacific Northwest meeting of over 100 professionals on the regulatory demands, environmental impacts, safety concerns, and business considerations
                            </p>
						<li/>
                            <p>
                                Organized four “Environmental Challenge” competitions for up to 60 students in each challenge
                            </p>
					</ul>
				</td>
				<td>
					<p>10/11 – 01/16</p>
				</td>
			</tr>
			<tr>
				<td>
					<p><b>Students for Renewable Energy </b> – Vice President</span>, Bellingham, WA
					<ul>
						<li/>
                            <p>
                                Led	effort to establish a &quot;Sustainable Action Fund&quot; that annually awards $300K in student grants</p>
					</ul>
				</td>
				<td>
					<p>09/07 – 06/11</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>
					<h2>Awards</h2>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr >
				<td>
					<p><b>United Nations </b>– Data for Climate Action Thematic Award Winner, COP 23, Bonn, Germany</p>
				</td>
				<td>
					<p>11/17</p>
				</td>
			</tr>
			<tr >
				<td>
                    <p>
                        <b>A&amp;WMA PNWIS </b>– Young Professional of the Year, Spokane, WA</p>
				</td>
				<td>
					<p>10/14</p>
				</td>
			</tr>
			<tr >
				<td>
                    <p>
                        <b>WWU Sustainable Action Fund </b>– $167K grant for an on–campus solar panel array, Bellingham, WA</p>
				</td>
				<td>
					<p>05/11</p>
				</td>
			</tr>
			<tr >
				<td>
                    <p>
                        <b>A&amp;WMA </b>– First Place in the Environmental Challenge International, Calgary, AB</p>
				</td>
				<td>
					<p>06/10</p>
				</td>
			</tr>
		</tbody>
	</table>

</div>
