<h1> Resume </h1>

<center>
	<table width="720" cellpadding="7" cellspacing="0">
		<col width="604">
		<col width="88">
		<tbody>
			<tr>
				<td colspan="2" width="706" height="2" valign="top" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="center" style="margin-bottom: 0.01in; orphans: 0; widows: 0">
					<span style="font-variant: small-caps"><font face="garamond, serif"><font size="4" style="font-size: 14pt"><b>Matthew
					S. Moroney</b></font></font></span></p>
					<p align="center" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">801-755-2268
					| </font></font><a href="mailto:matthew.moroney@yale.edu"><font color="#0000ff"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><u>matthew.moroney@yale.edu</u></font></font></font></a><font face="garamond, serif"><font size="2" style="font-size: 10pt">
					| 361 Elm St, New Haven, CT 06511</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="706" bgcolor="#ffffff" style="background: #ffffff" style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: none; border-right: none; padding: 0in">
					<h1 class="western" style="margin-top: 0in"><font face="garamond, serif"><font size="3" style="font-size: 12pt">Education</font></font></h1>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td width="604" height="15" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-right: 0.1in; margin-bottom: 0.01in; orphans: 0; widows: 0">
					<font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">Yale
					University, </font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">School
					of Forestry &amp; Environmental Studies, New Haven, CT</span></font></font></font></font></p>
					<p style="margin-right: 0.1in; orphans: 0; widows: 0"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Masters
					of Environmental Management </span></font></font></font></font>
					</p>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border-top: 1px solid #000001; border-bottom: none; border-left: none; border-right: none; padding: 0in">
					<p align="right" style="margin-left: -0.02in; margin-right: -0.02in; orphans: 0; widows: 0">
					<font color="#000000"><font face="garamond, serif"><font size="2" style="font-size: 10pt">5/18</font></font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="14" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-right: 0.1in; margin-bottom: 0.01in; orphans: 0; widows: 0">
					<font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">University
					of Washington, </font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Seattle,
					WA</span></font></font></font></font></p>
					<p style="margin-right: 0.1in; orphans: 0; widows: 0"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Certificate
					in Statistical Analysis with R </span></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Programming</span></font></font></font></font></p>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">09/14
					- 06/15</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" bgcolor="#ffffff" style="background: #ffffff" style="border-top: none; border-bottom: 1px solid #000001; border-left: none; border-right: none; padding: 0in">
					<p style="margin-right: 0.1in; margin-bottom: 0.01in; orphans: 0; widows: 0">
					<font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">Western
					Washington University</font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">,
					Bellingham, WA</span></font></font></font></font></p>
					<p style="margin-right: 0.1in; margin-top: 0.01in; orphans: 0; widows: 0">
					<font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Bachelor
					of Science, Environmental Science with Chemistry minor</span></font></font></font></font></p>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">09/07
					- 06/11</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="706" bgcolor="#ffffff" style="background: #ffffff" style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: none; border-right: none; padding: 0in">
					<h1 class="western" style="margin-right: 0.1in; margin-top: 0in">
					<font face="garamond, serif"><font size="3" style="font-size: 12pt">Experience</font></font></h1>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td width="604" height="21" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-left: 0.2in; margin-right: 0.1in; text-indent: -0.2in; margin-bottom: 0in; orphans: 0; widows: 0">
					<font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>Metabolic</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
					– Green Chemistry Intern, Amsterdam, Netherlands</font></font></p>
					<ul>
						<li/>
<p style="margin-right: 0.1in; margin-bottom: 0in; orphans: 0; widows: 0">
						<font face="garamond, serif"><font size="2" style="font-size: 10pt">Designed
						theoretical framework and coded statistical scoring for
						software that predicts environmental impact and toxicity of
						chemical mixtures; project evolved into its own company</font></font></p>
						<li/>
<p style="margin-right: 0.1in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Developed
						process flow diagram that evaluated lifecycle impacts of
						diverting steel gas exhaust for chemical production in report
						funded by a steel company, chemical manufacturer, and power
						generator</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">05/17
					- 08/17 </font></font>
					</p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="31" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-right: 0.1in; margin-bottom: 0in; orphans: 0; widows: 0">
					<font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>Data-Driven
					Yale</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
					– Student Researcher for Dr. Hsu, New Haven, CT </font></font>
					</p>
					<ul>
						<li/>
<p style="margin-right: 0.1in; margin-bottom: 0.01in; orphans: 0; widows: 0">
						<font face="garamond, serif"><font size="2" style="font-size: 10pt">Led
						winning team in </font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">international</font></font><font color="#ff0000"><font face="garamond, serif"><font size="2" style="font-size: 10pt">
						</font></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">UN
						Competition </font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">on</font></font><font color="#ff0000"><font face="garamond, serif"><font size="2" style="font-size: 10pt">
						</font></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">researching</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
						air pollution’s effect on credit card spending</font></font></p>
						<li/>
<p style="margin-right: 0.1in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Wrote
						code to compare pollution and equity in an index comparing 20
						global cities</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="margin-left: -0.02in; margin-right: -0.02in; orphans: 0; widows: 0">
					   <font face="garamond, serif"><font size="2" style="font-size: 10pt">07/16
					-Present </font></font>
					</p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="82" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-right: 0.1in; margin-bottom: 0in; orphans: 0; widows: 0">
					<font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>Landau
					Associates, Inc. </b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">–</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>
					</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">Senior
					Staff Environmental Scientist, Seattle, WA</font></font></p>
					<ul>
						<li/>
<p style="margin-right: 0.1in; margin-bottom: 0in; orphans: 0; widows: 0">
						<font face="garamond, serif"><font size="2" style="font-size: 10pt">Supervised
						teams of up to 8 coworkers and subcontractors investigating
						subsurface contamination investigations</font></font></p>
						<li/>
<p style="margin-right: 0.1in; margin-bottom: 0in; orphans: 0; widows: 0">
						<font face="garamond, serif"><font size="2" style="font-size: 10pt">Coordinated
						and managed client relationships onsite in restricted
						industrial setting</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">s</font></font></p>
						<li/>
<p style="margin-right: 0.1in; orphans: 0; widows: 0"><a name="_GoBack"></a>
						<font face="garamond, serif"><font size="2" style="font-size: 10pt">Trained
						new employees in sampling of air, groundwater, sediment, and
						soil using standardized methods with strict chain of custody
						protocols under demanding environmental condition</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">s</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">04/12
					- 01/16</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="5" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-right: 0.1in; margin-bottom: 0.01in; orphans: 0; widows: 0">
					<font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>Woods
					Hole Research Center </b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">–</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>
					</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">Student
					Researcher, Cherskiy, Siberia</font></font></p>
					<ul>
						<li/>
<p style="margin-right: 0.1in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Awarded
						fellowship studying climate change and permafrost thaw in the
						Siberian tundra</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">05/11
					- 06/11</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="5" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-right: 0.1in; margin-bottom: 0.01in; orphans: 0; widows: 0">
					<font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>The
					Planet Magazine</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">,
					Science Editor, Bellingham, WA</font></font></p>
					<ul>
						<li/>
<p style="margin-right: 0.1in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Edited
						60 stories for scientific accuracy and general readability in
						award-winning publication</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">09/10
					- 06/11</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-bottom: 0.01in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>WWU
					Chemistry Department </b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">–</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>
					</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">Student
					Researcher for Dr. O’Neil, Bellingham, WA</font></font></p>
					<ul>
						<li/>
<p style="margin-top: 0.01in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Synthesized
						molecules with hazardous and explosive materials </font></font>
						</p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">03/09
					- 06/10</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="706" height="3" bgcolor="#ffffff" style="background: #ffffff" style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: none; border-right: none; padding: 0in">
					<h1 class="western" style="margin-top: 0in"><font face="garamond, serif"><font size="3" style="font-size: 12pt">Leadership</font></font></h1>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td width="604" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-bottom: 0.01in; orphans: 0; widows: 0"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">WWU
					Huxley College Dean’s Advisory Board – </font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Advisor</span></font></font><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">,</font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">
					Seattle, WA</span></font></font></font></font></p>
					<ul>
						<li/>
<p style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Selected
						for lifelong </font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">appointment
						to advisory board to contribute to Huxley’s College’s
						strategic vision </font></font>
						</p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">06/13
					- Present</font></font></p>
				</td>
			</tr>
			<tr>
				<td width="604" height="38" valign="bottom" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-bottom: 0in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>Air
					&amp; Waste Mgt Assoc, PNW Int’l Section (A&amp;WMA PNWIS)</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
					</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>–</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
					 Board Committee Member, Seattle, WA</font></font></p>
					<ul>
						<li/>
<p style="margin-bottom: 0in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Chaired
						fossil fuel exports in the Pacific Northwest meeting of over
						100 professionals on the regulatory demands, environmental
						impacts, safety concerns, and business considerations</font></font></p>
						<li/>
<p style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Organized
						four “Environmental Challenge” competitions for up to 60
						students </font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">in
						each challenge</font></font></p>
					</ul>
				</td>
				<td width="88" valign="top" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">10/11
					- 01/16</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="18" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p style="margin-bottom: 0.01in; orphans: 0; widows: 0"><font face="Liberation Serif, serif"><font size="3" style="font-size: 12pt"><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">Students
					for Renewable Energy </font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">–</span></font></font><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">
					</font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Vice
					President</span></font></font><b><font face="garamond, serif"><font size="2" style="font-size: 10pt">,
					</font></font></b><font face="garamond, serif"><font size="2" style="font-size: 10pt"><span style="font-weight: normal">Bellingham,
					WA</span></font></font></font></font></p>
					<ul>
						<li/>
<p style="margin-top: 0.01in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">Led
						effort to establish a &quot;Sustainable Action Fund&quot; that
						annually awards $300K </font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">in
						</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">student
						grants</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">09/07
					- 06/11</font></font></p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="706" bgcolor="#ffffff" style="background: #ffffff" style="border-top: 1px solid #000001; border-bottom: 1px solid #000001; border-left: none; border-right: none; padding: 0in">
					<h1 class="western" style="margin-top: 0in"><font face="garamond, serif"><font size="3" style="font-size: 12pt">Awards</font></font></h1>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td width="604" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<ul>
						<li/>
<p style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>United
						Nations</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
						</font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>–</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
						 Data for Climate Action Thematic Award Winner, COP 23, Bonn,
						Germany</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">11/17</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="2" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<ul>
						<li/>
<p style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>A&amp;WMA
						PNWIS – </b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">Young
						Professional of the Year, Spokane, WA</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">10/14</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="3" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<ul>
						<li/>
<p style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>WWU
						Sustainable Action Fund –</b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">
						$167K grant for an on-campus solar panel array, Bellingham, WA</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt">05/11</font></font></p>
				</td>
			</tr>
			<tr valign="top">
				<td width="604" height="6" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<ul>
						<li/>
<p style="margin-top: 0.01in; orphans: 0; widows: 0"><font face="garamond, serif"><font size="2" style="font-size: 10pt"><b>A&amp;WMA
						– </b></font></font><font face="garamond, serif"><font size="2" style="font-size: 10pt">First
						Place in the Environmental Challenge International, Calgary, AB</font></font></p>
					</ul>
				</td>
				<td width="88" bgcolor="#ffffff" style="background: #ffffff" style="border: none; padding: 0in">
					<p align="right" style="margin-bottom: 0.01in; orphans: 0; widows: 0">
					<font face="garamond, serif"><font size="2" style="font-size: 10pt">06/10</font></font></p>
					<p align="right" style="orphans: 0; widows: 0"><br/>

					</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="706" valign="top" bgcolor="#ffffff" style="background: #ffffff" style="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
					<h1 class="western" style="margin-top: 0in"><font face="garamond, serif"><font size="3" style="font-size: 12pt">Yale
					University</font></font></h1>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="706" valign="top" bgcolor="#ffffff" style="background: #ffffff" style="border-top: 1px solid #00000a; border-bottom: none; border-left: none; border-right: none; padding: 0in">
					<ul>
						<li/>
<p style="orphans: 0; widows: 0"><a name="_qt2chot3ooqu"></a>
						<font face="garamond, serif"><font size="2" style="font-size: 10pt">Teaching
						fellow for Drs. Anastas &amp; Zimmerman, Student Affairs
						Committee Treasurer, organizer of salons and bridge nights</font></font></p>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<p style="margin-bottom: 0in; line-height: 100%"><br/>

</p>
</body>
</html>
