<div class = "user-details">
p { text-align=left; }

<h1> Resume </h1>

<h2> Education</h2>

<p align="left"><b>Yale University</b>, School of Forestry &amp; Environmental Studies, New Haven, CT</p>
<p align="left">Masters of Environmental Management, 5/18

<p align="left"><b>University of Washington,</b> Seattle, WA </p>
<p align="left">Certificate in Statistical Analysis with R Programming, 09/14 – 06/15

<p align="left">
<b>Western Washington University </b>, Bellingham, WA
</p>
<p align="left">
<font>Bachelors of Science, Environmental Science with Chemistry minor, 09/07 – 06/11

<h2> Experience </h2>
<p align="left">
<b>Metabolic</b> – Green Chemistry Intern, Amsterdam, Netherlands, 05/17 – 08/17
<ul>
<li/>
<p align="left">
Designed theoretical framework and coded statistical scoring for software that predicts environmental impact and toxicity of chemical mixtures; project evolved into its own company
</p>
<li/>
<p align="left">
Developed process flow diagram that evaluated lifecycle impacts of diverting steel gas exhaust for chemical production in report funded by a steel company, chemical manufacturer, and power generator
</p>
</ul>

<p align="left">
<b>Data-Driven Yale</b> – Student Researcher for Dr. Hsu, New Haven, CT, 07/16 – Present
</p>
<ul>
<li/>
<p align="left">
Led winning team in international UN Competition researching air pollution’s effect on credit card spending
</p>
<li/>
<p align="left">
Programmed methods to compare pollution and equity in an index comparing 20global cities
</p>
</ul>

<p align="left">
<b>Landau Associates, Inc. </b>– Senior Staff Environmental Scientist, Seattle, WA, 04/12 – 01/16
<ul>
<li/>
<p align="left">
Supervised teams of up to 8 coworkers and subcontractors investigating subsurface contamination investigations
</p>
<li/>
<p align="left">
Coordinatedand managed client relationships onsite in restricted industrial settings
</p>
<li/>
<p align="left">
Trained new employees in sampling of air, groundwater, sediment, and soil using standardized methods with strict chain of custody protocols under demanding environmental conditions
</p>
</ul>

<p align="left">
<b>Woods Hole Research Center </b> – Student Researcher, Cherskiy, Siberia, 05/11 – 06/11
<ul>
<li/>
<p align="left">
Awarded fellowship studying climate change and permafrost thaw in the Siberian tundra
</p>
</ul>

<p align="left">
<b>The Planet Magazine </b>– Science Editor, Bellingham, WA</p>
<ul>
<li/>
<p align="left">
Edited over 60 stories for scientific accuracy and general audience readability in award-winning publication, 09/10 – 06/11
</ul>

<p align="left">
<b>WWU Chemistry Department </b>– </b>Student Researcher for Dr. O’Neil, Bellingham, WA, 03/09 – 06/10
<ul>
<li/>
<p align="left">
Synthesized molecules with hazardous and explosive materials
</p>
</ul>

<h2>Leadership</h2>

<p align="left"> <b> WWUHuxley College Dean’s Advisory Board – </b> Advisor, Seattle, WA, 06/13 – Present
<ul>
<li/>
<p align="left">
Selected for lifelong appointment to advisory board to contribute to Huxley’s College’s strategic vision
</p>
</ul>

<p align="left"><b>Air &amp; Waste Management Association, Pacific Northwest International Section (A&amp;WMA PNWIS)</b> – Board Committee Member, Seattle, WA, 10/11 – 01/16
<ul>
<li/>
<p align="left">
Chaired fossil fuel exports in the Pacific Northwest meeting of over 100 professionals on the regulatory demands, environmental impacts, safety concerns, and business considerations
</p>
<li/>
<p align="left">
Organized four “Environmental Challenge” competitions for up to 60 students in each challenge
</p>
</ul>

<p align="left"><b>Students for Renewable Energy </b> – Vice President</span>, Bellingham, WA , 09/07 – 06/11
<ul>
<li/>
<p align="left">
Led effort to establish a &quot;Sustainable Action Fund&quot; that annually awards $300K in student grants</p>
</ul>

<h2>Awards</h2>

<p align="left"><b>United Nations </b>– Data for Climate Action Thematic Award Winner, COP 23, Bonn, Germany, 11/17


<p align="left">
<b>A&amp;WMA PNWIS </b>– Young Professional of the Year, Spokane, WA, 10/14

<p align="left">
<b>WWU Sustainable Action Fund </b>– $167K grant for an on–campus solar panel array, Bellingham, WA, 05/11

<p align="left">
<b>A&amp;WMA </b>– First Place in the Environmental Challenge International, Calgary, AB, 06/10

</div>
